@model IEnumerable<LibrarySystem.Web.ViewModels.BookViewModel>

<link href="~/Content/Styles/books.css" rel="stylesheet" />
<script src="~/Content/Scripts/books.js"></script>
<div class="container">
    <h2>Livros Disponíveis para Aluguel</h2>

    <ul>
        @foreach (var book in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => book.Title)
                <span>@(book.IsRented ? " - Alugado" : "")</span>
                @if (!book.IsRented)
                {
                    <form action="@Url.Action("RentBook", "Rentals", new { bookId = book.Id })" method="post" style="display: inline;">
                        <button type="submit" class="alugar">Alugar</button>
                    </form>
                }
            </li>
        }
    </ul>
</div>